<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <form class="formproducto wrapper" id="formproducto" method="post" onsubmit="nuevoProducto(); return false;">
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="title">Titulo</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="title" type="text" name="title" placeholder="Título del producto.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="price">Precio</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="price" type="number" name="price" placeholder="Precio del producto.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="thumbnail">URL de imagen</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="thumbnail" type="text" name="thumbnail" placeholder="Imagen del producto.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <span class="formproducto__span" id="formproducto__span-successful">¡Producto agregado correctamente!</span>
                        <span class="formproducto__span" id="formproducto__span-failed">No se pudo agregar el producto. Intente nuevamente.</span>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="wrapper tablaproductos__wrapper">
            </div>
        </div>
    </div>
</div>