* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 50px;
    flex: 1 0 auto;
}

a {
    color: #5469d4;
    text-decoration: unset;
}

.navbar-brand img {
    width: 30px;
    height: auto;
}

.footer {
    margin-top: 50px;
    flex-shrink: 0;
}

.wrapper {
    padding: 48px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 10px;
    }
}

.formproducto {
    width: 100%;
}

.formproducto__field label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.formproducto__field input {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84, 105, 212);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.formproducto input[type="submit"] {
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
    transition: 0.3s;
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

.formproducto input[type="submit"]:hover {
    background-color: rgb(109, 127, 218);
    transition: 0.3s;
}

.formproducto__span {
    display: none;
    padding: 0.6rem;
    margin-bottom: 24px;
    text-align: center;
}

#formproducto__span-successful {
    border: 1px solid #128612;
    color: #128612;
}

#formproducto__span-failed {
    border: 1px solid #a51010;
    color: #a51010;
}

.tablaproductos__image {
    width: 100px;
    height: auto;
    border-radius: 5px;
}